
.topo_site{background:#323232;color:#ffffff;}
.topo_site h1{font-size: 100%;}
.icon-cart img{width: 60%;}


.clear{clear: both;}

.fontzero{font-size: 0em !important;;}

ul{list-style: none;}
.lista_novos li,.lista_anterior li{display: inline-block; margin: 0px;}


@media screen and (max-width: 600px) {

}
@media screen and (max-width: 800px) {



}
@media screen and (max-width:320px) {

}
@media screen and (max-width:480px) {


}
@media screen and (min-width:600px) { }
@media screen and (min-width:768px) { }
@media screen and (min-width:992px) { }